nav, main, .entry, footer {
border: pink 5px solid;
}

.box {
max-width: 1250px;
margin: 50px auto;
display: grid;
grid-gap: 10px;
grid-template-columns: 250px auto 250px;
word-wrap: break-word;
}



header {
grid-row: 1 / 2;
grid-column: 2 / 3;
text-align: center;
}

nav {
grid-row: 2 / 7;
grid-column: 1 / 2;
height: max-content;
text-align: center;
}

main {
grid-row: 2 / 3;
grid-column: 2 / 3;
height: max-content;
}

footer {
grid-row: 3 / 4;
grid-column: 2 / 3;
text-align: center;
height: max-content;
}

.guestbookstuff {
grid-row: 2 / 8;
grid-column: 3 / 4;
text-align: center;
width: 250px;
}

.side {
width: 240px;
}


body {
background-color: paleturquoise;
}
